.content{
  text-align: center;
  background-color: lightgrey;
  width: 1000px;
  border: 25px solid green;
  padding: 15px;
  margin: 25px;
}

.img{
    float: right;
    width: auto;
  }

.nav-sidebar ul {
    list-style-type: none;
    margin: 25px;
    padding: 0;
    width: 25%;
    background-color: #4d4c4f;
    position: absolute;
    height: 100%;
    overflow: auto;
    text-decoration: overline;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #FFCA28;
    color: white;
}

li a:hover:not(.active) {
    background-color: #FFCA28;
    color: white;
}
