h1{
  text-align: center;
}
.img{
  max-width: 100%;
    height: auto;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d4c4f;
}
li{
  float:left;
   border-right: 0.5px solid #bbb;
}

li a {
    display: block;
    color: white;
    padding: 20px 18px;
    text-decoration: none;
    text-align:center;
    font-family: fantasy;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
li:last-child {
    border-right: none;
}
